/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
 background-color: 2C2C2C;
  color: #333;
}

.product-card {
  transition: all 0.3s ease;
  border-radius: 12px;

}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}